@import url('https://fonts.googleapis.com/css?family=Assistant');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -30px}
	50%  {margin-top: -60px}
	75%  {margin-top: -90px}
	100% {margin-top: 0}
}

body { background: #333; width: 100%; height: 100% }

.news {
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  width: 280px;
  height: 30px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 4px;
  padding: 3px;
  -webkit-user-select: none
}

.news span {
  float: left;
  color: #000000;
  padding: 6px;
  position: relative;
  top: 1%;
  border-radius: 4px;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer
}

.news ul {
  float: left;
  padding-left: 20px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none
}

.news ul li {line-height: 30px; list-style: none }

.news ul li a {
  color: #fff;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
}

.news ul:hover { animation-play-state: paused }
.news span:hover+ul { animation-play-state: paused }

/* OTHER COLORS */
.blue { background: #347fd0 }
.blue span { background: #2c66be }
.red { background: #8f0222}
.red span { background: #c22b2c }
.green { background: #699B67 }
.green span { background: #547d52 }
.magenta { background: #b63ace }
.magenta span { background: #842696 }

.container {
  height: 300px;
  width: auto;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.image {
  border-radius: 1em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 300px;
  width: auto;
}

.overlay {
  border-radius: 1em;
  height: 300px;
  width: auto;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #8f0222;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 300px;
  width: auto;
  bottom: 0;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#jrob {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;

}

td {
   width:70%;
   margin-left:20%;
   margin-right:20%;
   border: 1px solid #ffffff;
   padding: 5px;
   font-size: 90%;
   text-align: left;
}

tr {
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

th {
  align
  padding: 10px;
  border: 1px solid #ffffff;
  font-size: 120%;
  text-align: center;
  color: #ffffff; /* Header color does not transition */
}

tr:hover {
  color: #C0C0C0;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.cameltxt {
  text-align: center;
  white-space: nowrap;
}
.camel {
  padding-top: 10px;
  display:block;
  filter: invert(100%);
  max-width: 30px;
  margin: 0 auto;
}

#code {
  font-family: 'Anonymous Pro', monospace;
  background: rgba(255,255,255,0.6);
  padding: 5px;
  font-size: 70%;
}

form {
  background-color: rgba(0,0,0,0.6);
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #ffffff;
  border-radius: .5em;
  padding-left: 10px;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  -ms-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

form:hover{
  background: rgba(0, 0, 0, .85);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  padding: 5px;
  font-size: 100%;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
}

input:focus, textarea:focus {
  /* To give a little highlight on active elements */
  border-color: #C0C0C0;to
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  border:none;
  cursor: pointer;
  margin-left: 93px;
  margin-top: 16px;
  width: 70px;
  border: 1px solid #ffffff;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 59px 10px 20px;
  text-decoration: none;
  background-color: rgba(250, 250, 250, .25);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.button:hover {
  background: rgba(255, 0, 0, .7);
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Internet Explorer */
@-ms-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Opera */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.dropdown {
    font-size: 150;
    font-weight: bold;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, .95);
    border: 1px solid #000000;
    min-width: 138px;
    z-index: 1;
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -moz-animation: fadein 0.3s; /* Firefox */
    -ms-animation: fadein 0.3s; /* Internet Explorer */
    -o-animation: fadein 0.3s; /* Opera */
    animation: fadein 0.3s;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Assistant', sans-serif;
  margin: 0;
}

h1 {
  letter-spacing: 1px;
}

h2 {
  font-family: 'Assistant', sans-serif;
  font-size: 250%;
  font-weight: 700;
  text-align: center;
  padding-top: 2%;
}

h3 {
  font-family: 'Assistant', sans-serif;
  font-size: 175%;
  line-height: 155%;
  padding: 5% 0;
  font-weight: 400;
}

p {
  font-size: 160%;
  line-height: 150%;
  padding: 3%;
  text-indent: 2%;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
  margin-bottom: -4px;
}

header {
  background-color: #000000;
  width: 100%;
  height: 86px;
}

#header-inner {
  max-width: 1200px;
  margin: 0 auto;
}

#logo {
  letter-spacing: 8px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Assistant', sans-serif;
  font-size: 250%;
  font-weight: 700;
  margin: 15px;
  float: left;
  height: 50px;
  padding: 0 0 0 30px;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

#logo:hover {
  color: #C0C0C0;
  transition: 0.3s ease-in-out;
}

/* START NAV BAR */

nav {
  letter-spacing: 2px;
  z-index: 100000;
  float: right;
  padding: 25px 30px 0 0;
}

#menu-icon{
  display: hidden;
  width: 40px;
  height: 40px;
  background: url(img/nav.png) center;
}

.dropdown, a:hover#menu-icon{
  border-radius: 4px 4px 0 0;
}

.dropdown, ul {
  list-style-type: none;
}

nav ul li {
  font-family: 'Assistant', sans-serif;
  font-size: 150;
  display: inline-block;
  float: left;
  padding: 10px;
}

.dropdown, nav ul li a {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.dropdown-content a{
  color: black;
}

.dropbtn {
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.dropbtn:hover, nav ul li a:hover {
  color: #C0C0C0;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.current {
  color: #C0C0C0;
}

#current {
  color: #C0C0C0;
}

/* END NAV BAR */

.banner {
  padding-top: 155px;
  padding-bottom: 210px;
  color: #ffffff;
  width: 100%;
  background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
  background-size: cover;
  background-position: fix;
}

.banner-outer-perl {
  padding-top: 85px;
  padding-bottom: 140px;
  color: #ffffff;
  width: 100%;
  background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
  background-size: cover;
  background-position: fix;
}
.banner-outer-perl-content {
  padding-top: 25px;
  padding-bottom: 20px;
  color: #ffffff;
  width: 100%;
  background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: cover;
  background-position: fix;
}
.banner-contact {
  padding-top: 80px;
  padding-bottom: 115px;
  color: #ffffff;
  width: 100%;
  background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
  background-size: cover;
  background-position: fix;
}

.banner-index {
  background-color: rgba(0,0,0,0.6);
  padding: 1em;
  border: 1px solid #ffffff;
  border-radius: .5em;
  color: #ffffff;
  font-size: 107%;
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.banner-perl-content {
  margin-left:15%;
  margin-right:15%;
  width: 270px;
  max-height: 350px;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.6);
  padding: 1em;
  border: 1px solid #ffffff;
  border-radius: .5em;
  color: #ffffff;
  font-size: 107%;
  text-align: left;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  margin: 0 auto;
}

.banner-inner {
  color: #ffffff;
  font-size: 107%;
  max-width: 600px;
  text-align: justify;
  margin: 0 auto;
}

.banner-index:hover {
  background: rgba(0, 0, 0, .85);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.banner-perl-content:hover {
  background: rgba(0, 0, 0, .85);
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.project-text {
  text-align: center;
}

#error {
  text-align: center;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

a:hover{
  color: #C0C0C0;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/* START FOOTER */

footer {
  font-family: 'Assistant', sans-serif;
  box-shadow: 0px 0px 10px 10px #000000;
  background-color: #000000;
  width: 100%;
}

.social {
  list-style-type: none;
  text-align: center;
}

.social li {
  display: inline
}

.social i{
  font-size: 300%;
  margin: 1%;
  padding-bottom: 5px;
  color: #ffffff;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.social i:hover{
  color: #C0C0C0;
  transition: color 0.3s ease-in-out;
}

footer.second a:link {
    color: #FFFFFF;
    font-weight: lighter;
    -webkit-transition: color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

footer.second a:visited{
    color: #FFFFFF;
}

footer.second a:hover{
    color: #C0C0C0;
    transition: color 0.3s ease-in-out;
}

footer.second {
  letter-spacing: 2px;
  border-top: 2px solid #ffffff;
  background-color: #000000;
  max-height: 20px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  font-size: 75%;
}

/* END FOOTER */

/* General handheld devices & small browser windows */
@media screen and (max-width: 1024px) {
  .container {
    height: 250px;
    width: auto;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .image {
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 250px;
    width: auto;
  }

  .overlay {
    border-radius: 1em;
    height: 250px;
    width: auto;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #8f0222;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }

  .container:hover .overlay {
    height: 250px;
    width: auto;
    bottom: 0;
  }

  header {
    background-color: #000000;
    width: 100%;
    height: 60px;
  }

  form {
    margin: 0 auto;
    width: 260px;
    padding: 1em;
    border: 1px solid #ffffff;
    border-radius: .5em;
    padding-left: 10px;
  }
  form div + div {
    margin-top: 1em;
  }
  input, textarea {
    font-size: 75%;
    width: 160px;
  }

  h2 {
    font size: 150%;
  }
  h3 {
    font size: 125%;
  }
  p {
    font-size: 120%;
  }
  header {
    z-index: 1000;
    position: absolute;
  }
  #logo {
    letter-spacing: 5px;
    max-width: 300px;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Assistant', sans-serif;
    font-size: 100%;
    font-weight: 700;
    margin: 15px;
    float: left;
    padding: 5px 0 0 5px;
  }
  #menu-icon {
    display: inline-block;
  }

  nav {
    padding-top: 12px;
    padding-right: 19px;
  }
  nav ul, nav:active ul {
    display: none;
    position: absolute;
    background: #000000;
    right: 20px;
    padding-right: 19px;
    border: 1px solid #FFFFFF;
    width: 200px;
  }

  nav:hover ul{
    display: block;
    background-color: rgba(0,0,0,0.9);
    transition: color 0.3s ease-in-out;
    -webkit-animation: fadein 0.3s; /* Safari and Chrome */
    -moz-animation: fadein 0.3s; /* Firefox */
    -ms-animation: fadein 0.3s; /* Internet Explorer */
    -o-animation: fadein 0.3s; /* Opera */
    animation: fadein 0.3s;
  }


  nav li {
    text-align: center;
    width: 100%;
  }

  .banner {
    padding-top: 160px;
    padding-bottom: 125px;
    background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
    color: #ffffff;
    width: 100%;
  }
  .banner-outer-perl {
    padding-top: 100px;
    padding-bottom: 50px;
    background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
    color: #ffffff;
    width: 100%;
  }
  .banner-outer-perl-content {
    padding-top: 70px;
    padding-bottom: 0px;
    background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
    color: #ffffff;
    width: 100%;
  }
  .banner-contact {
    padding-top: 120px;
    padding-bottom: 75px;
    background: linear-gradient(to bottom, #970505 30%,#8f0222 44%,#000000 100%);
    color: #ffffff;
    width: 100%;
  }
  .banner-index {
    max-width: 270px;
    font-size: 95%;
    text-align: justify;
    margin: 0 auto;
  }
  .banner-perl-content {
    max-height: 300px;
    width: 270px;
    overflow-y: scroll;
    font-size: 70%;
    margin: 0 auto;
  }
  .social {
    padding-top: 0px;
    font-size: 65%;
  }
  footer.second {
    font-size: 50%;
  }
  .button {
    font-size: 75%;
    padding: 10px 52px 10px 20px;
    background-color: rgba(250, 250, 250, .2);
  }
}

/* iPhone 6 and 7 */
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  .banner-index {
    color: #ffffff;
    max-width: 290px;
    font-size: 94%;
    text-align: justify;
    margin: 0 auto;
  }
  .banner-inner {
    color: #ffffff;
    max-width: 290px;
    font-size: 94%;
    text-align: justify;
    margin: 0 auto;
  }
  .banner {
    padding-top: 220x;
    padding-bottom: 130px;
    color: #ffffff;
    width: 100%;
  }
  .banner-contact {
    padding-top: 120px;
    padding-bottom: 77px;
    color: #ffffff;
    width: 100%;
  }
  .button {
    font-size: 75%;
    padding: 10px 46px 10px 21px;
    background-color: rgba(250, 250, 250, .2);
  }
}

/* Samsung Galaxy S6 / S7 */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-min-device-pixel-ratio : 4)
  and (-webkit-device-pixel-ratio : 4)
  and (orientation: portrait) {
  .banner-contact {
    padding-top: 125px;
    padding-bottom: 82px;
  }
  .button {
    font-size: 75%;
    padding: 10px 49.5px 10px 20px;
    background-color: rgba(250, 250, 250, .2);
  }
}
